.nav {
    overflow: auto;
    
    .logo {
        overflow: auto;
        margin-top: 10px;
    }
}

.overview {
    margin-top: 40px;
    
    .subtitle {
        color: $grey;
    }
}


.mid-panel {
    width: 500px;
    min-height: 300px;
    border: 1px solid $grey-light;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    
    .heading {
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid $grey-light;
    }
    
    .content {
        padding: 20px;
    }
    
    .amount {
        margin-top: 50px;
    }
    
    .pay-salary-btn{
        width: 120px;
        margin: auto;
        margin-top: 30px;
    }
}